<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Elements</title>
  <link rel="stylesheet" href="/tm-css/elemental/dist/styles.min.css">
  <link rel="stylesheet" href="/tm-css/demo/docs.css">
  <script type="module" src="/tm-css/scripts/index.js"></script>
  <base href="/tm-css/tm-css" />
</head>

<body data-container="width:sm padding:sm">


<header>
  <h1>Layouts - Center</h1>
  <nav data-cluster="gap:md align:center">
  <a href="/">Home</a>
  <a href="/tm-css/elements">Elements</a>
  <a href="/tm-css/layouts/container">Container</a>
  <a href="/tm-css/layouts/stack">Stack</a>
  <a href="/tm-css/layouts/cluster">Cluster</a>
  <a href="/tm-css/layouts/split">Split</a>
  <a href="/tm-css/layouts/switcher">Switcher</a>
  <a href="/tm-css/layouts/cover">Cover</a>
  <a href="/tm-css/layouts/center">Center</a>
  <a href="/tm-css/layouts/masonry">Masonry</a>
  <a href="/tm-css/layouts/media-object">Media Object</a>
  <!--
  <a href="/layouts/grid.html">Grid</a>
  <a href="/layouts/row.html">Row</a>
  -->

</nav>

</header>



<section>
  <h3>Demo:</h3>
  <div data-center="center:children center:text" data-stack="gap:sm" class="center-demo">
    <h2>Quisimos aprender la despedida</h2>
    <p>y rompimos la alianza</p>
    <p>que juntaba al amigo con la amiga.</p>
    <p>Y alzamos la distancia</p>
    <p>entre las amistades divididas.</p>
    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsam voluptas
        doloribus, aperiam eligendi repudiandae aut, vel eius, ipsa voluptatibus voluptate qui
        harum omnis. Ab porro quisquam natus explicabo mollitia?
      </p>
    </div>
  </div>

  <hr>

  <label for="text" data-stack="gap:sm">
    <h3>Edit:</h3>
    <input type="text" id="text" data-vivo="input:updateText" value="center:children center:text" />
  </label>

  <hr>

  <h3>Code:</h3>
  <pre>
      &#x3C;div data-center=&#x22;<span class="demospan">center:children center:text</span>&#x22; data-stack=&#x22;gap:sm&#x22;&#x3E;
        &#x3C;h2&#x3E;Quisimos aprender la despedida&#x3C;/h2&#x3E;
        &#x3C;p&#x3E;y rompimos la alianza&#x3C;/p&#x3E;
        &#x3C;p&#x3E;que juntaba al amigo con la amiga.&#x3C;/p&#x3E;
        &#x3C;p&#x3E;Y alzamos la distancia&#x3C;/p&#x3E;
        &#x3C;p&#x3E;entre las amistades divididas.&#x3C;/p&#x3E;
        &#x3C;div&#x3E;
          &#x3C;p&#x3E;Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti ipsam voluptas
            doloribus, aperiam eligendi repudiandae aut, vel eius, ipsa voluptatibus voluptate qui harum omnis. Ab porro
            quisquam natus explicabo mollitia?&#x3C;/p&#x3E;
        &#x3C;/div&#x3E;
      &#x3C;/div&#x3E;
    </pre>
</section>

<hr>

<div data-stack="gap:sm">
  <h3>API:</h3>
  <small data-stack>
    <pre>center:[children, text]</pre>
  </small>
  <small>
    <code>center:children</code> will center elements as block-level elements.
    <code>center:text</code> will center the text within the elements.
  </small>


</div>

</body>

</html>

