<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Elements</title>
  <link rel="stylesheet" href="/tm-css/elemental/dist/styles.min.css">
  <link rel="stylesheet" href="/tm-css/demo/docs.css">
  <script type="module" src="/tm-css/scripts/index.js"></script>
  <base href="/tm-css/tm-css" />
</head>

<body data-container="width:sm padding:sm">


<body data-container="width:sm padding:sm">

  <header>
    <h1>Layouts - Cluster</h1>
    <nav data-cluster="gap:md align:center">
  <a href="/">Home</a>
  <a href="/tm-css/elements">Elements</a>
  <a href="/tm-css/layouts/container">Container</a>
  <a href="/tm-css/layouts/stack">Stack</a>
  <a href="/tm-css/layouts/cluster">Cluster</a>
  <a href="/tm-css/layouts/split">Split</a>
  <a href="/tm-css/layouts/switcher">Switcher</a>
  <a href="/tm-css/layouts/cover">Cover</a>
  <a href="/tm-css/layouts/center">Center</a>
  <a href="/tm-css/layouts/masonry">Masonry</a>
  <a href="/tm-css/layouts/media-object">Media Object</a>
  <!--
  <a href="/layouts/grid.html">Grid</a>
  <a href="/layouts/row.html">Row</a>
  -->

</nav>

  </header>



  <section>
    <h3>Demo:</h3>
    <div data-cluster="justify:center align:center gap:md" class="cluster-demo">
      <p><a href="#">Home</a></p>
      <p><a href="#">About</a></p>
      <p><a href="#">Contact</a></p>
      <p><a href="#">Blog</a></p>
    </div>

    <hr>


    <label for="text" data-stack="gap:sm">
      <h3>Edit:</h3>
      <input type="text" id="text" data-vivo="input:updateText" value="justify:center align:center gap:md" />
    </label>

    <hr>

    <h3>Code:</h3>
    <pre>
    &#x3C;div data-cluster=&#x22;<span class="demospan">justify:center align:center gap:md</span>&#x22;&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Home&#x3C;/a&#x3E;&#x3C;/p&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;About&#x3C;/a&#x3E;&#x3C;/p&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Contact&#x3C;/a&#x3E;&#x3C;/p&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Blog&#x3C;/a&#x3E;&#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
      </pre>

    <hr>

    <h3>API:</h3>
    <small>
      <pre>justify:[start, end, between, around, center]<br>align:[start, end, center]<br>gap:[sm, md, lg]</pre>
    </small>
  </section>

  </body>

</html>

