{% include "head.html" %}
<style>
  body {
    padding: 0;
  }

  nav {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
</style>


<div data-cover="height:100 center:text">
  <div data-cover-main data-center="center:text">
    <h1>Elemental</h1>
    <p>CSS Layouts by <a href="https://tech-mex.io" class="tm-link">Tech-Mex</a></p>
    {% include "nav.html" with {justify: 'center'} %}

    <figure>
      <img src="./img/elemental.svg" alt="">
    </figure>

  </div>
</div>

{% include "foot.html" %}
