<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Elements</title>
  <link rel="stylesheet" href="{{ '/elemental/dist/styles.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/demo/dashboard.css' | url }}">
  <script type="module" src="{{ '/scripts/app.js' | url }}"></script>
  <base href="{{ '/tm-css' | url }}" />
</head>

<body class="page-dashboard">
  <nav class="top-nav" data-cluster="justify:between align:center padding:sm">
    <div data-cluster="gap:sm align:center">
      <figure>icon</figure>

      <span>/</span>

      <select>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </select>

      <span>/</span>

      <select>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </select>

      <span>/</span>

      <select>
        <option>Option One</option>
        <option>Option Two</option>
        <option>Option Three</option>
      </select>
    </div>

    <div data-cluster="gap:sm">
      <a href="/">Add Teammates</a>
      <figure>icon</figure>
    </div>

  </nav>
  <nav class="main-nav" data-cluster="gap:md align:center padding:sm">
    <a href="/">Overview</a>
    <a href="/">Users</a>
    <a href="/">Projects</a>
    <a href="/">Billing</a>
    <a href="/">Configure</a>
    <a href="/">Settings</a>
  </nav>

  <main class="main-content" data-container="width:lg padding:md" data-flanked="gap:md collapse:md sidebar:md">

    <div data-stack="gap:md" class="sidebar-left">
      <div data-stack="gap:sm">
        <h2>General</h2>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Authentication</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">SMS Templates</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Email Templates</a>
        </span>
      </div>

      <hr>

      <div data-stack="gap:sm">
        <h2>Organization</h2>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Settings</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Roles &amp; Permissions</a>
        </span>
      </div>

      <hr>


      <div data-stack="gap:sm">
        <h2>Security</h2>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Restrictions</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Fraud Alert</a>
        </span>
      </div>

      <hr>


      <div data-stack="gap:sm">
        <h2>Developers</h2>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">API Keys</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Integrations</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Sessions</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Webhooks</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Domains</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">API Keys</a>
        </span>
      </div>
    </div>




    <div class="center-content">
      <h2>API Keys</h2>
      <p>Manage API Keys for this instance</p>

      <div data-stack="gap:lg">
        <div data-stack="gap:sm" class="quick-copy">
          <h3>Quick Copy</h3>
          <p>Choose your framework and paste the code into your .env file.</p>
          <code>
            NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Z2xlcmvkdsindleinqfiASFNsddfnISASIDFInvdN
            CLERK_SECRET_KEY=sk_test_Z2xlcmVkLXNlY3JldA
          </code>
        </div>

        <div data-stack="gap:md" class="module publishable-key">
          <div>
            <h3>Publishable Key</h3>
            <p>This key should be used in your frontend. It can be safely shared and does not need to be kept secret.
            </p>
          </div>

          <div data-cluster="gap:sm align:center justify:between">
            <p>Public Key</p>
            <code>
              pk_test_Z2xlcmvkdsindleinqfiASFNsddfnISASIDFInvdN
            </code>
            <button>Copy</button>
          </div>
        </div>


        <div data-stack="gap:md" class="module secret-key">
          <div>
            <h3>Secret Key</h3>
            <p>This key should be used in your backend. It should not be shared and should be kept secret.
            </p>
          </div>

          <div data-cluster="gap:sm align:center justify:between">
            <p>Default Secret Key</p>
            <code>
              sk_live_Z2xlcmVkLXNlY3JldAdsadnSUHSKcnsnKS-SDNS
            </code>
            <button>Copy</button>
          </div>

          <div data-cluster="gap:sm align:center justify:between">
            <p>Test Key</p>
            <code>
              sk_test_Z2xlcmVkLXNlY3JldAdsadnSUHSKcnsnKS-SDNS
            </code>
            <button>Copy</button>
          </div>

          <div data-cluster="gap:sm align:center justify:between">
            <p>Testing Token</p>
            <code>
              sk_test_Z2xlcmVkLXNlY3JldAdsadnSUHSKcnsnKS-SDNS
            </code>
            <button>Copy</button>
          </div>
        </div>
      </div>
    </div>





    <div class="sidebar-right">
      <div data-stack="gap:sm">
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Authentication</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">SMS Templates</a>
        </span>
        <span data-split="1/4 align:center">
          {% include "./icon.html" %}
          <a href="/">Email Templates</a>
        </span>
      </div>
    </div>
  </main>



  <footer data-stack="gap:md" data-container="width:lg padding:md">
    <hr>
    <h4>Dashboard</h4>
    <p>&copy; 2024 - Some Dashboard App</p>
  </footer>
</body>


</html>
