<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Elements</title>
  <link rel="stylesheet" href="{{ '/elemental/dist/styles.min.css' | url }}">
  <link rel="stylesheet" href="{{ '/demo/docs.css' | url }}">
  <script type="module" src="{{ '/scripts/app.js' | url }}"></script>
  <base href="{{ '/tm-css' | url }}" />
</head>

<body data-container="width:sm padding:sm" class="page-{{ page.fileSlug }}">
  <img src="./img/elemental.svg" alt="" class="elemental-oranament">
