<nav data-cluster="gap:md align:center">
  <a href="/">Home</a>
  <a href="/elements">Elements</a>
  <a href="/layouts/container">Container</a>
  <a href="/layouts/stack">Stack</a>
  <a href="/layouts/cluster">Cluster</a>
  <a href="/layouts/split">Split</a>
  <a href="/layouts/switcher">Switcher</a>
  <a href="/layouts/cover">Cover</a>
  <a href="/layouts/center">Center</a>
  <a href="/layouts/masonry">Masonry</a>
  <a href="/layouts/media-object">Media Object</a>
  <!--
  <a href="/layouts/grid.html">Grid</a>
  <a href="/layouts/row.html">Row</a>
  -->

</nav>
