<nav data-cluster="gap:md align:center">
  <a href="{{'/' | prepend: site.baseurl}}">Home</a>
  <a href="{{ '/elements' | url}}">Elements</a>
  <a href="{{'/layouts/container' | url}}">Container</a>
  <a href="{{'/layouts/stack' | url}}">Stack</a>
  <a href="{{'/layouts/cluster' | url}}">Cluster</a>
  <a href="{{'/layouts/split' | url}}">Split</a>
  <a href="{{'/layouts/switcher' | url}}">Switcher</a>
  <a href="{{'/layouts/cover' | url}}">Cover</a>
  <a href="{{'/layouts/center' | url}}">Center</a>
  <a href="{{'/layouts/masonry' | url}}">Masonry</a>
  <a href="{{'/layouts/media-object' | url}}">Media Object</a>
  <!--
  <a href="/layouts/grid.html">Grid</a>
  <a href="/layouts/row.html">Row</a>
  -->

</nav>
