<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Elements</title>
  <link rel="stylesheet" href="/tm-css/elemental/dist/styles.min.css">
  <link rel="stylesheet" href="/tm-css/demo/docs.css">
  <script type="module" src="/tm-css/scripts/index.js"></script>
  <base href="/tm-css/tm-css" />
</head>

<body data-container="width:sm padding:sm">


<header>
  <h1>Layouts - Media Object</h1>
  <nav data-cluster="gap:md align:center">
  <a href="/">Home</a>
  <a href="/tm-css/elements">Elements</a>
  <a href="/tm-css/layouts/container">Container</a>
  <a href="/tm-css/layouts/stack">Stack</a>
  <a href="/tm-css/layouts/cluster">Cluster</a>
  <a href="/tm-css/layouts/split">Split</a>
  <a href="/tm-css/layouts/switcher">Switcher</a>
  <a href="/tm-css/layouts/cover">Cover</a>
  <a href="/tm-css/layouts/center">Center</a>
  <a href="/tm-css/layouts/masonry">Masonry</a>
  <a href="/tm-css/layouts/media-object">Media Object</a>
  <!--
  <a href="/layouts/grid.html">Grid</a>
  <a href="/layouts/row.html">Row</a>
  -->

</nav>

</header>


<section>
  <h3>Demo:</h3>


  <div data-media="gap:sm spacing:md">
    <figure>
      <img class="avatar" src="https://picsum.photos/200/300" alt="">
    </figure>
    <div>
      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus voluptas distinctio
          voluptates qui eligendi ipsam eos. Quas delectus explicabo dicta dolor laboriosam? Dolores suscipit
          accusamus illo rem ipsa reiciendis?</span><span>Assumenda eos dolorem sequi fuga quasi nemo, quis optio?
          Nam, quae? Architecto ipsa ut veritatis, laudantium adipisci inventore officia possimus voluptas mollitia
          rerum pariatur dicta recusandae numquam, fuga aperiam voluptates.</span><span>Repellat in temporibus dolorem
          vero sequi qui cum, quia recusandae! Tempora rem rerum, eaque temporibus quia voluptate sapiente nihil
          molestiae recusandae, deserunt dolor asperiores mollitia accusantium voluptatum, dolores earum fuga!</span>
      </p>

      <div data-media="gap:sm">
        <figure>
          <img class="avatar" src="https://picsum.photos/200/300?d=2" alt="">
        </figure>
        <div>
          <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus voluptas
              distinctio
              voluptates qui eligendi ipsam eos. Quas delectus explicabo dicta dolor laboriosam? Dolores suscipit
              accusamus illo rem ipsa reiciendis?</span><span>Assumenda eos dolorem sequi fuga quasi nemo, quis optio?
              Nam, quae? Architecto ipsa ut veritatis, laudantium adipisci inventore officia possimus voluptas
              mollitia
              rerum pariatur dicta recusandae numquam, fuga aperiam voluptates.</span><span>Repellat in temporibus
              dolorem
              vero sequi qui cum, quia recusandae! Tempora rem rerum, eaque temporibus quia voluptate sapiente nihil
              molestiae recusandae, deserunt dolor asperiores mollitia accusantium voluptatum, dolores earum
              fuga!</span>
          </p>
        </div>
      </div>

      <div data-media="gap:sm">
        <figure>
          <img class="avatar" src="https://picsum.photos/200/300?d=3" alt="">
        </figure>
        <div>
          <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus voluptas
              distinctio
              voluptates qui eligendi ipsam eos. Quas delectus explicabo dicta dolor laboriosam? Dolores suscipit
              accusamus illo rem ipsa reiciendis?</span><span>Assumenda eos dolorem sequi fuga quasi nemo, quis optio?
              Nam, quae? Architecto ipsa ut veritatis, laudantium adipisci inventore officia possimus voluptas
              mollitia
              rerum pariatur dicta recusandae numquam, fuga aperiam voluptates.</span><span>Repellat in temporibus
              dolorem
              vero sequi qui cum, quia recusandae! Tempora rem rerum, eaque temporibus quia voluptate sapiente nihil
              molestiae recusandae, deserunt dolor asperiores mollitia accusantium voluptatum, dolores earum
              fuga!</span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div data-media="gap:sm">
    <figure>
      <img class="" src="https://picsum.photos/200/300?d=4" alt="">
    </figure>
    <div>
      <h3>Cu Cu CaChu</h3>
      <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus voluptas
          distinctio
          voluptates qui eligendi ipsam eos. Quas delectus explicabo dicta dolor laboriosam? Dolores suscipit
          accusamus illo rem ipsa reiciendis?</span><span>Assumenda eos dolorem sequi fuga quasi nemo, quis optio?
          Nam, quae? Architecto ipsa ut veritatis, laudantium adipisci inventore officia possimus voluptas
          mollitia
          rerum pariatur dicta recusandae numquam, fuga aperiam voluptates.</span><span>Repellat in temporibus
          dolorem
          vero sequi qui cum, quia recusandae! Tempora rem rerum, eaque temporibus quia voluptate sapiente nihil
          molestiae recusandae, deserunt dolor asperiores mollitia accusantium voluptatum, dolores earum
          fuga!</span>
      </p>
    </div>
  </div>

  <hr>


  <div data-media="gap:sm reverse">
    <figure>
      <img class="" src="https://picsum.photos/200/300?d=5" alt="">
    </figure>
    <div>
      <h3>Cu Cu CaChu</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatibus voluptas
        distinctio
        voluptates qui eligendi ipsam eos. Quas delectus explicabo dicta dolor laboriosam? Dolores suscipit
        accusamus illo rem ipsa reiciendis? Assumenda eos dolorem sequi fuga quasi nemo, quis optio?
        Nam, quae? Architecto ipsa ut veritatis, laudantium adipisci inventore officia possimus voluptas
        mollitia
        rerum pariatur dicta recusandae numquam, fuga aperiam voluptates. Repellat in temporibus
        dolorem
        vero sequi qui cum, quia recusandae! Tempora rem rerum, eaque temporibus quia voluptate sapiente nihil
        molestiae recusandae, deserunt dolor asperiores mollitia accusantium voluptatum, dolores earum
        fuga!
      </p>
    </div>
  </div>

  <hr>

  <h3>Code:</h3>
  <pre>
      &#x3C;form data-split=&#x22;<span>3/4 gap:sm collapse:sm align:end</span>&#x22;&#x3E;
        &#x3C;label for=&#x22;email&#x22; data-stack=&#x22;gap:sm&#x22;&#x3E;
          Email Adress
          &#x3C;input type=&#x22;text&#x22; name=&#x22;email&#x22; id=&#x22;email&#x22; /&#x3E;
        &#x3C;/label&#x3E;
        &#x3C;button&#x3E;Subscribe&#x3C;/button&#x3E;
      &#x3C;/form&#x3E;
    </pre>

  <hr>

  <label for="text" data-stack="gap:sm">
    <h3>Edit:</h3>
    <input type="text" id="text" data-vivo="input:updateText" value="3/4 gap:sm collapse:sm align:end" />
  </label>

  <hr>

  <h3>API:</h3>
  <pre>
[1/4, 1/3, 3/4, 2/3]
collapse:[sm, md, lg]
align:[start, end, between, around]
gap:[sm, md, lg]
  </pre>

</section>

</body>

</html>

