<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Layouts</title>

  <link rel="stylesheet" href="../dist/styles.min.css">
  <style>
    [data-cluster] {
      background-color: hsl(205deg 100% 95% / .85);
      min-block-size: 4rem;
    }

    section {
      /* background-color: lightblue;
      padding: 2rem; */
      margin-block-start: 3rem;

      >*+* {
        margin-block-start: 2rem;
      }
    }
  </style>
  <script type="module">
    import { createSignal, createHandler } from '/scripts/vivo.js'

    const [text, setText] = createSignal('text', 'justify:center align:center gap:2')
    const clusterEl = document.querySelector('[data-cluster]');
    const spanEl = document.querySelector('span');
    createHandler('updateText', e => {
      setText(e.target.value.trim());
      clusterEl.setAttribute('data-cluster', text());
      spanEl.textContent = text();
    })

  </script>
</head>

<body data-container="width:1040">

  <header>
    <h1>Layouts - Cluster</h1>
  </header>



  <section>
    <h3>Demo:</h3>
    <div data-cluster="justify:center align:center gap:2">
      <p><a href="#">Home</a></p>
      <p><a href="#">About</a></p>
      <p><a href="#">Contact</a></p>
      <p><a href="#">Blog</a></p>
    </div>

    <hr>

    <h3>Code:</h3>
    <pre>
    &#x3C;div data-cluster=&#x22;<span>justify:center align:center gap:2</span>&#x22;&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Home&#x3C;/a&#x3E;&#x3C;/p&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;About&#x3C;/a&#x3E;&#x3C;/p&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Contact&#x3C;/a&#x3E;&#x3C;/p&#x3E;
      &#x3C;p&#x3E;&#x3C;a href=&#x22;#&#x22;&#x3E;Blog&#x3C;/a&#x3E;&#x3C;/p&#x3E;
    &#x3C;/div&#x3E;
      </pre>
  </section>

  <hr>

  <div data-stack="gap:1">
    <label for="text">
      <h3>Edit:</h3>
    </label>
    <input type="text" id="text" data-vivo="input:updateText" value="justify:center align:center gap:2" />
    <h3>API:</h3>
    <small>
      <pre>justify:[start, end, between, around]<br>align:[start, end, between, around]<br>gap:[1, 2, 3]</pre>
    </small>
  </div>

</body>

</html>
