{% include "head.html" %}

<header>
  <h1>Layouts - Masonry</h1>
  {% include "nav.html" %}
</header>


<section>
  <h3>Demo:</h3>

  <div data-masonry="col-size:sm gap:sm">
    <figure>
      <img src="https://picsum.photos/200/300" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/600/300" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/400/300" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/500/300" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/300/300" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/200/600" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/600/900" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/400/300" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/500/800" alt="">
    </figure>
    <figure>
      <img src="https://picsum.photos/300/500" alt="">
    </figure>
  </div>
</section>


<section>
  <label for="text" data-stack="gap:sm">
    <h3>Edit:</h3>
    <input type="text" name="text" id="text" value="col-size:sm gap:sm" data-vivo="input:updateText" />
  </label>
</section>

<section>
  <h3>Code:</h3>
  <pre>
      &lt;div data-masonry=&quot;<span>col-size:sm gap:sm</span>&quot;&gt;
        &lt;figure&gt;
          &lt;img src=&quot;https://picsum.photos/200/300&quot; alt=&quot;&quot;&gt;
        &lt;/figure&gt;
        &lt;figure&gt;
          &lt;img src=&quot;https://picsum.photos/600/300&quot; alt=&quot;&quot;&gt;
        &lt;/figure&gt;
        &lt;figure&gt;
          &lt;img src=&quot;https://picsum.photos/400/300&quot; alt=&quot;&quot;&gt;
        &lt;/figure&gt;
      &lt;/div&gt;
      </pre>


  <h3>API:</h3>
  <small data-stack>
    <pre>col-size:[sm, md, lg]<br>gap:[sm, md, lg]<br>num-cols:[2, 3, 4, 5, 6]<br><br>note: `num-cols` will override `col-size` but is not responsive.</pre>
  </small>
</section>





<script type="module" src="../scripts/vivo.js"></script>

{% include "foot.html" %}
