{% include "head.html" %}

<header>
  <h1>Layouts - Stack</h1>
  {% include "nav.html" %}
</header>


<section data-stack="gap:md" data-container="width:sm padding:sm">
  <h3>Demo:</h3>
  <form data-stack="gap:md">
    <label for="name" data-stack="gap:sm">
      Name
      <input type="text" id="name" name="name">
    </label>

    <label for="email" data-stack="gap:sm">
      Email
      <input type="email" id="email" name="email">
    </label>

    <label for="message" data-stack="gap:sm">
      Message
      <textarea id="message" name="message"></textarea>
    </label>

    <button type="submit">Submit</button>
  </form>

  <hr>

  <h3>Code:</h3>
  <pre>
&#x3C;form data-stack=&#x22;gap:md&#x22;&#x3E;
  &#x3C;label for=&#x22;name&#x22; data-stack=&#x22;gap:sm&#x22;&#x3E;
    Name
    &#x3C;input type=&#x22;text&#x22; id=&#x22;name&#x22; name=&#x22;name&#x22;&#x3E;
  &#x3C;/label&#x3E;

  &#x3C;label for=&#x22;email&#x22; data-stack=&#x22;gap:sm&#x22;&#x3E;
    Email
    &#x3C;input type=&#x22;email&#x22; id=&#x22;email&#x22; name=&#x22;email&#x22;&#x3E;
  &#x3C;/label&#x3E;

  &#x3C;label for=&#x22;message&#x22; data-stack=&#x22;gap:sm&#x22;&#x3E;
    Message
    &#x3C;textarea id=&#x22;message&#x22; name=&#x22;message&#x22;&#x3E;&#x3C;/textarea&#x3E;
  &#x3C;/label&#x3E;

  &#x3C;button type=&#x22;submit&#x22;&#x3E;Submit&#x3C;/button&#x3E;
&#x3C;/form&#x3E;
    </pre>

</section>

{% include "foot.html" %}
