{% include "head.html" %}

<header>
  <h1>Layouts - Switcher</h1>
  {% include "nav.html" %}
</header>



<section>
  <h3>Demo:</h3>
  <div data-switcher="gap:sm collapse:lg" class="switcher-demo">
    <div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti sed eius, at cupiditate
        repudiandae rem dicta error unde. Aliquam doloremque temporibus amet nam quas, sequi dolore rerum
        repellendus
        blanditiis?</p>
    </div>
    <div>
      <p>Accusamus vel totam ipsa magni sunt, magnam dolore eum necessitatibus modi et odio ratione, distinctio
        maxime
        officia aut porro? At atque assumenda provident deleniti suscipit ratione distinctio accusantium error
        doloribus!</p>
    </div>
    <div>
      <p>Accusamus vel totam ipsa magni sunt, magnam dolore eum necessitatibus modi et odio ratione, distinctio
        maxime
        officia aut porro? At atque assumenda provident deleniti suscipit ratione distinctio accusantium error
        doloribus!</p>
    </div>
  </div>

  <hr>

  <label for="text" data-stack="gap:sm">
    <h3>Edit:</h3>
    <input type="text" id="text" data-vivo="input:updateText" value="gap:sm collapse:lg" />
  </label>

  <hr>

  <h3>Code:</h3>
  <pre>
      &#x3C;div data-switcher=&#x22;<span class="demospan">gap:sm collapse:lg</span>&#x22;&#x3E;&#x3C;div&#x3E;
        &#x3C;p&#x3E;Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Reprehenderit deleniti sed eius, at cupiditate repudiandae rem dicta
         error unde. Aliquam doloremque temporibus amet nam quas, sequi dolore
         rerum repellendus blanditiis?&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;
      &#x3C;div&#x3E;
        &#x3C;p&#x3E;Accusamus vel totam ipsa magni sunt, magnam dolore eum
         necessitatibus modi et odio ratione, distinctio maxime officia aut
         porro? At atque assumenda provident deleniti suscipit ratione
         distinctio accusantium error doloribus!&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;
      &#x3C;div&#x3E;
        &#x3C;p&#x3E;Accusamus vel totam ipsa magni sunt, magnam dolore eum
         necessitatibus modi et odio ratione, distinctio maxime officia aut
         porro? At atque assumenda provident deleniti suscipit ratione
         distinctio accusantium error doloribus!&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
      </pre>


  <hr>



  <hr>

  <h3>API:</h3>
  <small data-stack>
    <pre>collapse:[sm, md, lg] (400px, 640px, 960px)<br>gap:[sm, md, lg]</pre>

    these are arbitrary values and should be updated for your project's needs.
  </small>


</section>

{% include "foot.html" %}
