<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="CSS Stuffs">
  <title>Layouts</title>

  <link rel="stylesheet" href="../dist/styles.min.css">
  <style>
    section {
      margin-block-start: 3rem;

      >*+* {
        margin-block-start: 2rem;
      }
    }
  </style>
  <script type="module">
    import { createSignal, createHandler } from '../scripts/vivo.js'

    const [text, setText] = createSignal('text', 'gap:1 collapse:lg')
    const switcherEl = document.querySelector('[data-switcher]');
    const spanEl = document.querySelector('span');
    createHandler('updateText', e => {
      setText(e.target.value.trim());
      switcherEl.setAttribute('data-switcher', text());
      spanEl.textContent = text();
    })

  </script>
</head>

<body data-container="width:sm">

  <header>
    <h1>Layouts - Switcher</h1>
    <div data-cluster="gap:sm" style="margin-block-start: 1rem;">
      <p><a href="../index.html">Elements</a></p>
      <p><a href="./container.html">Container</a></p>
      <p><a href="./stack.html">Stack</a></p>
      <p><a href="./cluster.html">Cluster</a></p>
      <p><a href="./split.html">Split</a></p>
      <p><a href="./switcher.html">Switcher</a></p>
      <p><a href="./cover.html">Cover</a></p>
      <p><a href="./center.html">Center</a></p>

    </div>
  </header>



  <section>
    <h3>Demo:</h3>
    <div data-switcher="gap:sm collapse:lg">
      <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit deleniti sed eius, at cupiditate
          repudiandae rem dicta error unde. Aliquam doloremque temporibus amet nam quas, sequi dolore rerum repellendus
          blanditiis?</p>
      </div>
      <div>
        <p>Accusamus vel totam ipsa magni sunt, magnam dolore eum necessitatibus modi et odio ratione, distinctio maxime
          officia aut porro? At atque assumenda provident deleniti suscipit ratione distinctio accusantium error
          doloribus!</p>
      </div>
      <div>
        <p>Accusamus vel totam ipsa magni sunt, magnam dolore eum necessitatibus modi et odio ratione, distinctio maxime
          officia aut porro? At atque assumenda provident deleniti suscipit ratione distinctio accusantium error
          doloribus!</p>
      </div>
    </div>

    <hr>

    <h3>Code:</h3>
    <pre>
      &#x3C;div data-switcher=&#x22;<span>gap:sm collapse:lg</span>&#x22;&#x3E;&#x3C;div&#x3E;
        &#x3C;p&#x3E;Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Reprehenderit deleniti sed eius, at cupiditate repudiandae rem dicta
         error unde. Aliquam doloremque temporibus amet nam quas, sequi dolore
         rerum repellendus blanditiis?&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;
      &#x3C;div&#x3E;
        &#x3C;p&#x3E;Accusamus vel totam ipsa magni sunt, magnam dolore eum
         necessitatibus modi et odio ratione, distinctio maxime officia aut
         porro? At atque assumenda provident deleniti suscipit ratione
         distinctio accusantium error doloribus!&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;
      &#x3C;div&#x3E;
        &#x3C;p&#x3E;Accusamus vel totam ipsa magni sunt, magnam dolore eum
         necessitatibus modi et odio ratione, distinctio maxime officia aut
         porro? At atque assumenda provident deleniti suscipit ratione
         distinctio accusantium error doloribus!&#x3C;/p&#x3E;
      &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;
      </pre>
  </section>

  <hr>

  <div data-stack="gap:sm">
    <label for="text">
      <h3>Edit:</h3>
    </label>
    <input type="text" id="text" data-vivo="input:updateText" value="gap:sm collapse:lg" />

    <hr>

    <h3>API:</h3>
    <small data-stack>
      <pre>collapse:[sm, md, lg] (400px, 640px, 960px)<br>gap:[sm, md, lg]</pre>

      these are arbitrary values and should be updated for your project's needs.
    </small>


  </div>

</body>

</html>
