@view-transition {
  navigation: auto;
}
body {
  background-color: #ededed;
}

main {
  inline-size: 60ch;
  padding: 1rem;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;

  view-transition-name: main-content;
}


section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;

  max-inline-size: 80ch;
  margin-inline: auto;
}




::view-transition-old(main-content) {
  animation: 500ms ease-out both slide-out;
}

::view-transition-new(main-content) {
  animation: .2s ease-out both slide-in;
}

/* Define the animations */
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
