[data-cluster] {
  --cluster-padding: initial;
  --cluster-gap: initial;
  --justify: initial;
  --align: initial;
  /* ↓ Set the Flexbox context */
  display: flex;
  /* ↓ Enable wrapping */
  flex-wrap: wrap;
  /* ↓ Set the space/gap */
  gap: var(--cluster-gap, 0rem);
  /* ↓ Choose your justification (flex-start is default) */
  justify-content: var(--justify, flex-start);
  /* ↓ Choose your alignment (flex-start is default) */
  align-items: var(--align, flex-start);
  padding: var(--cluster-padding);
}


[data-cluster~="justify:center"] { --justify: center; }
[data-cluster~="justify:end"] { --justify: flex-end; }
[data-cluster~="justify:around"] { --justify: space-around; }
[data-cluster~="justify:between"] { --justify: space-between; }
[data-cluster~="justify:evenly"] { --justify: space-evenly; }


[data-cluster~="align:center"] { --align: center; }
[data-cluster~="align:end"] { --align: flex-end; }
[data-cluster~="align:start"] { --align: flex-start; }
[data-cluster~="align:stretch"] { --align: flex-stretch; }


[data-cluster~="gap:0"] { --cluster-gap: 0; }
[data-cluster~="gap:1"] { --cluster-gap: 1rem; }
[data-cluster~="gap:2"] { --cluster-gap: 2rem; }
[data-cluster~="gap:3"] { --cluster-gap: 3rem; }


[data-cluster~="padding:.5"] { --cluster-padding: .5rem }
[data-cluster~="padding:1"] { --cluster-padding: 1rem }
[data-cluster~="padding:2"] { --cluster-padding: 2rem }
[data-cluster~="padding:3"] { --cluster-padding: 3rem }

[data-cluster~="distribute:equally"] > * { flex: 1; }

[data-cluster] > input { inline-size: auto; }
