[data-media] {
  --cluster-padding: initial;
  --cluster-gap: initial;
  --justify: initial;
  --align: initial;
  /* ↓ Set the Flexbox context */
  display: flex;
  /* ↓ Enable wrapping */
  flex-wrap: nowrap;
  /* ↓ Set the space/gap */
  gap: var(--cluster-gap, 0rem);
  /* ↓ Choose your justification (flex-start is default) */
  justify-content: var(--justify, flex-start);
  /* ↓ Choose your alignment (flex-start is default) */
  align-items: var(--align, flex-start);
  padding: var(--cluster-padding);

  > *:last-child {
    flex: 1;
  }
}

[data-media~="reverse"] {
  flex-direction: row-reverse;
 }

 [data-media~="spacing:sm"] [data-media] { margin-block-start: 1rem; }
 [data-media~="spacing:md"] [data-media] { margin-block-start: 2rem; }
 [data-media~="spacing:lg"] [data-media] { margin-block-start: 3rem; }



[data-media~="justify:center"] { --justify: center; }
[data-media~="justify:end"] { --justify: flex-end; }
[data-media~="justify:around"] { --justify: space-around; }
[data-media~="justify:between"] { --justify: space-between; }
[data-media~="justify:evenly"] { --justify: space-evenly; }


[data-media~="align:center"] { --align: center; }
[data-media~="align:end"] { --align: flex-end; }
[data-media~="align:start"] { --align: flex-start; }
[data-media~="align:stretch"] { --align: flex-stretch; }


[data-media~="gap:sm"] { --cluster-gap: var(--layout-cluster-gap-sm); }
[data-media~="gap:md"] { --cluster-gap: var(--layout-cluster-gap-md); }
[data-media~="gap:lg"] { --cluster-gap: var(--layout-cluster-gap-lg); }


[data-media~="padding:sm"] { --cluster-padding: var(--layout-cluster-padding-sm) }
[data-media~="padding:md"] { --cluster-padding: var(--layout-cluster-padding-md) }
[data-media~="padding:lg"] { --cluster-padding: var(--layout-cluster-padding-lg) }
